/*  Website Styles */

* {
  font-size: 100%;
}

body {
  background-color: #fafff8;
  color:  Black;
  font-family: 'Vollkorn', serif;
}

h1{
  color: #fafff8;
  color: Black;
}

header {
  background-color:#fafff8;
  color:Black;
}

section {
  background-color: #fafff8;
  color:Black;
}

footer {
  background-color: #fafff8;
  color: Black;
}
